/* Import the Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Reset default margin and padding, use Poppins font */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Style the main section with a background image */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    /* Set the background image and its properties */
    background: url('../../Background.jpg');
    background-position: center;
    background-size: cover;
}

/* Style the top-right logo */
.top-right-logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100px;
    height: auto;
    z-index: 1000;
    background: transparent;
}

/* Style the end game container */
.endgame-box {
    position: relative;
    width: 90%; /* Adjust the width as needed */
    max-width: 1200px; /* Set a maximum width for the container */
    background: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    backdrop-filter: blur(15px);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

/* Style the form title */
h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
    margin-bottom: 20px;
}

/* Style the "Go Back" button */
#goBackButton {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #E91E63;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    margin-top: 20px;
    color: #fff;
}

/* Style the table */
#resultsTable {
    width: 100%;
    margin-top: 20px;
    /* Set the table background to transparent */
    background: transparent;
    border-collapse: collapse;
}

#resultsTable th,
#resultsTable td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #CCCCCC;
}

#resultsTable th {
    /* Use an RGBA color with transparency */
    background: transparent;
    color: #fff;
    font-size: 1.2em; /* Increase the font size for headers */
}

/* Style the "Join" button */
#resultsTable button {
    width: 80px; /* Set a fixed width for the button */
    height: 40px;
    /* Change the background color */
    background: #007ACC;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 16px; /* Adjust font size */
    color: #fff; /* Text color */
    transition: background-color 0.3s; /* Add a transition for hover effect */
}

#resultsTable button:hover {
    /* Change the background color on hover */
    background: #005A8C;
}
