/* Import Poppins font with a specific weight and display style from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Apply these styles to all elements on the page */
* {
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    font-family: 'poppins', sans-serif; /* Set the font-family to Poppins and a generic sans-serif font */
}

/* Style the main section of the page */
section {
    display: flex; /* Use flexbox layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    min-height: 100vh; /* Set a minimum height of 100% of the viewport height */
    width: 100%; /* Set the width to 100% of the viewport width */
    background: url('../../Background.jpg');
    background-position: center; /* Center the background image horizontally and vertically */
    background-size: cover; /* Scale the background image to cover the entire section */
}

/* Style a container for a form */
.form-box {
    position: relative; /* Enable relative positioning for child elements */
    width: 400px; /* Set a fixed width for the container */
    height: 450px; /* Set a fixed height for the container */
    background: transparent; /* Use a transparent background */
    border: 2px solid rgba(255, 255, 255, 0.5); /* Apply a border with reduced opacity */
    border-radius: 20px; /* Round the corners with a border-radius */
    backdrop-filter: blur(15px); /* Apply a blur filter to the container */
    display: flex; /* Use flex layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
}

/* Style level 2 headings (h2) */
h2 {
    font-size: 2em; /* Set the font size to 2em (twice the default font size) */
    color: #fff; /* Set text color to white */
    text-align: center; /* Center-align the text */
}

/* Style input containers */
.inputbox {
    position: relative; /* Enable relative positioning for child elements */
    margin: 30px 0; /* Add margin above and below the input container */
    width: 310px; /* Set a fixed width for the input container */
    border-bottom: 2px solid #fff; /* Add a 2px solid white border at the bottom */
}

/* Style labels inside input containers */
.inputbox label {
    position: absolute; /* Enable absolute positioning for labels */
    top: 50%; /* Align the label vertically in the middle of the input container */
    left: 5px; /* Add a small left margin for labels */
    transform: translateY(-50%); /* Vertically center the label using a CSS transform */
    color: #fff; /* Set text color to white */
    font-size: 1em; /* Set the font size to 1em (default size) */
    pointer-events: none; /* Disable pointer events for the label to allow clicking through it */
    transition: 0.5s; /* Apply a 0.5s (500ms) transition for smooth animations */
}

/* Apply label style when input is focused or has a value */
input:focus ~ label,
input:valid ~ label {
    top: -5px; /* Move the label up slightly when the input is focused or contains a value */
}

/* Style input fields */
.inputbox input {
    width: 100%; /* Expand the input field to 100% of the container's width */
    height: 50px; /* Set the input field's height to 50px */
    background: transparent; /* Use a transparent background */
    border: none; /* Remove the default input border */
    outline: none; /* Remove the default input outline */
    font-size: 1em; /* Set the font size to 1em (default size) */
    padding: 0 35px 0 5px; /* Add padding to the input field (left, right) */
    color: #fff; /* Set text color to white */
}

/* Style icons within input containers */
.inputbox ion-icon {
    position: absolute; /* Enable absolute positioning for icons */
    right: 8px; /* Align the icon to the right of the input container */
    color: #fff; /* Set icon color to white */
    font-size: 1.2em; /* Set the icon's font size */
    top: 20px; /* Adjust the vertical position of the icon */
}

/* Style the "forget" container */
.forget {
    margin: -15px 0 15px; /* Add margin above and below the "forget" container */
    font-size: 0.9em; /* Set the font size to 0.9em */
    color: #fff; /* Set text color to white */
    display: flex; /* Use flex layout */
    justify-content: space-between; /* Create space between elements in the container */
}

/* Style input labels within the "forget" container */
.forget label input {
    margin-right: 3px; /* Add right margin to the input label */
}

/* Style anchor (link) within the "forget" container */
.forget label a {
    color: #fff; /* Set link color to white */
    text-decoration: none; /* Remove text decoration (e.g., underlines) */
}

/* Apply a text-decoration (underline) to the anchor on hover */
.forget label a:hover {
    text-decoration: underline;
}

/* Style generic buttons */
button {
    width: 100%; /* Expand the button to 100% of its container's width */
    height: 40px; /* Set the button's height to 40px */
    border-radius: 40px; /* Apply a large border radius for rounded corners */
    background: #fff; /* Set the background color to white */
    border: none; /* Remove the default button border */
    outline: none; /* Remove the default button outline */
    cursor: pointer; /* Change the cursor to a pointer on hover to indicate interactivity */
    font-size: 1em; /* Set the font size to 1em (default size) */
    font-weight: 600; /* Set the font weight to 600 for a bolder text */
}

/* Style the "register" container */
.register {
    font-size: 0.9em; /* Set the font size to 0.9em */
    color: #fff; /* Set text color to white */
    text-align: center; /* Center-align the text within the container */
    margin: 25px 0 10px; /* Add margin above and below the "register" container */
}

/* Style anchor (link) within the "register" container */
.register p a {
    text-decoration: none; /* Remove text decoration (e.g., underlines) from the link */
    color: #fff; /* Set link color to white */
    font-weight: 600; /* Set the font weight to 600 for a bolder text */
}

/* Apply a text-decoration (underline) to the anchor on hover */
.register p a:hover {
    text-decoration: underline;
}

/* Style the top-right logo */
.top-right-logo {
    position: absolute; /* Enable absolute positioning for the logo */
    top: 10px; /* Adjust the logo's vertical position */
    right: 10px; /* Adjust the logo's horizontal position */
    width: 100px; /* Set the logo's width to 100px */
    height: auto; /* Maintain the aspect ratio of the logo */
    z-index: 1000; /* Set the stacking order (above other content) */
    background: transparent; /* Set the background to transparent */
}

/* Style for the adjusted "signup" label */
.signup-label {
    font-size: 2em; /* Set the font size to 2em (twice the default size) */
    color: #fff; /* Set text color to white */
    text-align: center; /* Center-align the text */
    margin-bottom: 20px; /* Add margin below the "signup" label for separation */
}

/* Style for a button container */
.button-container {
    background-color: transparent; /* Set the background color of the container to transparent */
    border: 2px solid rgba(255, 255, 255, 0.5); /* Apply a border with reduced opacity */
    border-radius: 20px; /* Round the corners with a border-radius */
    padding: 20px; /* Add padding to the container */
}

/* Style buttons within the menu */
.button-container button {
    width: 100%; /* Expand the buttons to 100% of their container's width */
    height: 40px; /* Set the button's height to 40px */
    border-radius: 40px; /* Apply a large border radius for rounded corners */
    background: #fff; /* Set the background color to white */
    border: none; /* Remove the default button border */
    outline: none; /* Remove the default button outline */
    cursor: pointer; /* Change the cursor to a pointer on hover to indicate interactivity */
    font-size: 1em; /* Set the font size to 1em (default size) */
    font-weight: 600; /* Set the font weight to 600 for a bolder text */
    margin-bottom: 10px; /* Add margin between each button */
}
