/* Import the Poppins font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* Reset default margin, padding, and set the font family to Poppins */
/* Reset default margin, padding, and set the font family to Poppins */
* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* Styles for the main section of the webpage */
section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
    background: url('../../Background.jpg');
    background-position: center;
    background-size: cover;
}

/* Styles for the top-right logo */
.top-right-logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 100px;
    height: auto;
    z-index: 1000;
    background: transparent;
}

/* Styles for the button container */
.button-container {
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.5);
    border-radius: 20px;
    padding: 20px;
}

/* Styles for buttons inside the button container */
.button-container button {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 10px;
    transition: background-color 0.3s;
}

/* Styles for buttons inside the button container when hovered */
.button-container button:hover {
    background: #1E88E5; /* Change the background color to blue on hover */
    color: #fff; /* Change the text color to white on hover */
}

/* Styles for the main heading */
h2 {
    font-size: 2em; /* Set font size to 2em */
    color: #fff; /* Text color is white */
    text-align: center; /* Center align text */
}


/* Style the confirmation box (new styles) */
.confirmation-box {
    display: none; /* Initially hide the box */
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 1000;
}

.confirmation-box h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0px 0px 5px 0px #000;
}

.confirmation-box button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 0 10px;
}

.confirmation-box button.cancel {
    background-color: #FF6347;
}

/* Add styles for the "Yes" button */
.modal-button.modal-yes-button {
    background-color: #4CAF50;
    color: white;
}

/* Add styles for the "No" button */
.modal-button.modal-no-button {
    background-color: #f44336;
    color: white;
}

/* Style the buttons with common styles */
.modal-button {
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin: 5px;
}

/* Hover effect for buttons */
.modal-button:hover {
    opacity: 0.8;
}
